.channels-list {
  border: 1px solid darkblue;
  flex-basis: 220px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
/* Team Header Component */
.team-header {
  position: relative;
  padding-left: 1rem;
}

.team-name {
  font-family: "LatoWebBlack", sans-serif;
  font-size: 1.125rem;
  margin-top: 0.25rem;
  margin-bottom: 0;
}

.user-name {
  font-size: 0.875rem;
  margin-top: 0.125rem;
}

.notifications-btn {
  position: absolute;
  top: 0;
  right: 0;
}

/* Utility View Controls */
.utility-view-controls {
  display: flex;
  flex-direction: column;
}
}
